<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.workbook.liuwb.workbook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- student provider 访问权限声明 -->
    <permission
        android:name="com.android.peter.provider.READ_PERMISSION"
        android:label="Student provider read permission"
        android:protectionLevel="normal" />
    <permission
        android:name="com.android.peter.provider.WRITE_PERMISSION"
        android:label="Student provider read permission"
        android:protectionLevel="normal" />

    <application
        android:name=".WBApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainNewActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.workbook.liuwb.workbook.actions.third.glide.GlideActivity"
            android:parentActivityName=".main.MainNewActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainNewActivity" />
        </activity>

        <activity android:name=".actions.memorymanage.MemoryActivity" />
        <activity android:name=".actions.memorymanage.memoryleak.MemoryLeakActivity" />
        <activity android:name=".actions.memorymanage.anr.ANRActivity" />

        <activity android:name=".actions.service.ServiceMainActivity" />
        <activity android:name=".actions.service.start.foregroundservice.ForegroundServiceActivity" />
        <activity android:name=".actions.service.bind.bind.BindingActivity" />
        <activity android:name=".actions.service.bind.messenger.MessengerActivity" />

        <activity android:name=".actions.provider.ProviderActivity" />

        <activity android:name=".actions.jetpack.JetpackActivity" />
        <activity android:name=".actions.jetpack.databind.DataBindDemoActivity" />

        <activity android:name=".actions.material.MaterialActivity" />
        <activity android:name=".actions.material.ScrollFlagsActivity" />
        <activity android:name=".actions.material.CollapsingActivity" />
        <activity android:name=".actions.material.nested.NestedActivity" />

        <activity android:name=".actions.webview.WebViewActivity" />
        <activity android:name=".actions.webview.Android2JSActivity" />
        <activity android:name=".actions.webview.JS2AndroidActivity" />

        <activity android:name=".actions.viewdemo.ViewDemoActivity" />
        <activity android:name=".actions.viewdemo.scrollable.listview.ListViewActivity" />
        <activity android:name=".actions.viewdemo.scrollable.recyclerview.RecycleActivity" />
        <activity
            android:name=".actions.viewdemo.menu.MenuDemoActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".actions.viewdemo.notification.NotificationDemoActivity" />
        <activity
            android:name=".actions.viewdemo.notification.TapActionActivity"
            android:parentActivityName=".actions.viewdemo.notification.NotificationDemoActivity" />

        <activity android:name=".actions.animation.AnimationActivity" />
        <activity android:name=".actions.animation.propertyanimation.LayoutAnimationsActivity" />
        <activity android:name=".actions.animation.propertyanimation.evaluator.PointEvaluatorActivity" />

        <activity android:name=".actions.function.FunctionMainActivity" />
        <activity android:name=".actions.function.permission.PermissionActivity" />
        <activity android:name=".actions.function.aidl.BookManagerActivity" />
        <activity android:name=".actions.function.annotation.AnnoActivity" />
        <activity android:name=".actions.function.reflect.ReflectActivity" />
        <activity
            android:name="com.workbook.liuwb.workbook.actions.function.file.FliesListActivity"
            android:label="File Selector">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity android:name=".actions.appstructure.StructureMainActivity" />
        <activity android:name=".actions.appstructure.mvp.v1.view.UserActivity" />
        <activity android:name=".actions.appstructure.mvp.v2.UserLoginActivity" />

        <activity android:name=".actions.third.ThirdMainActivity" />
        <activity android:name=".actions.third.retrofit.RetrofitActivity" />

        <activity android:name=".actions.customview.CustomViewMainActivity" />
        <activity android:name=".actions.customview.view.FollowFingerActivity" />
        <activity android:name=".actions.customview.view.CustomTitleActivity" />
        <activity android:name=".actions.customview.view.CustomImageActivity" />
        <activity android:name=".actions.customview.view.CustomProgressBarActivity" />

        <activity android:name=".actions.customview.viewgroup.NoSlipViewPagerActivity" />
        <activity android:name=".actions.customview.viewgroup.CarouselActivity" />
        <activity android:name=".actions.customview.viewgroup.MyScrollerActivity" />
        <activity android:name=".actions.customview.viewgroup.CustomContainerActivity" />
        <activity android:name=".actions.customview.viewgroup.FlexedLayoutActivity" />

        <activity android:name=".actions.customview.gesture.VelocityTrackerActivity" />
        <activity android:name=".actions.customview.gesture.GestureDetectorActivity" />
        <!---->
        <receiver android:name=".actions.viewdemo.notification.MyBroadcastReceiver" />

        <service android:name=".actions.service.start.foregroundservice.MyService" />
        <service android:name=".actions.service.bind.messenger.MessengerService" />
        <service
            android:name=".actions.function.aidl.BookManagerService"
            android:process=":remote" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="com.workbook.liuwb.workbook.actions.provider.DemoProvider"
            android:authorities="com.workbook.liuwb.workbook.actions.provider"
            android:exported="true"
            android:process=":provider"
            android:readPermission="com.android.peter.provider.READ_PERMISSION"
            android:writePermission="com.android.peter.provider.WRITE_PERMISSION" />
    </application>
</manifest>